http_interactions:
- request:
    method: get
    uri: https://dev.to/api/articles/me
    body:
      encoding: ''
      string: ''
    headers:
      api-key: <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"332ba0d5ef3962f05f544a00860c925f"
    body:
      encoding: UTF-8
      file: no
      string: "[{\"type_of\":\"article\",\"id\":370013,\"title\":\"Nativefier is bonkers\",\"description\":\"I
        made an electron app in 4 lines...   nativefier \\\"http://musicforprogramming.net/\\\"
        -n \\\"musicforprogr...\",\"published\":true,\"published_at\":\"2020-06-26T21:26:59.104Z\",\"slug\":\"nativefire-is-bonkers-4m43\",\"path\":\"/daveparr/nativefire-is-bonkers-4m43\",\"url\":\"https://dev.to/daveparr/nativefire-is-bonkers-4m43\",\"comments_count\":0,\"public_reactions_count\":2,\"page_views_count\":29,\"published_timestamp\":\"2020-06-26T21:26:59Z\",\"body_markdown\":\"I
        made an electron app in 4 lines...\\n\\n```sh\\nnativefier \\\"http://musicforprogramming.net/\\\"
        -n \\\"musicforprogramming\\\"\\ncd musicforprogramming-linux-x64/\\nsudo
        chmod +x musicforprogramming\\n./musicforprogramming\\n```\\n\\n# Motivation\\n\\nI
        like music, but don't like music in browser tabs. Basically because i have
        it open all the time, I want to find and control it easily, and I don't want
        it cluttering up an area that might be soley focused on work. \\n\\nI discovered
        some neat apps for google play, and wanted to see if there was one for my
        other go to, [musicforprogramming](http://musicforprogramming.net/). There
        wasn't, so I just casually googled how to convert a page into an electron
        app and OMFG!\\n\\n# Solution\\n\\n{% github jiahaog/nativefier %}\\n\\n[This
        post](https://www.todesktop.com/guides/nativefier) and [this one](https://www.addictivetips.com/ubuntu-linux-tips/nativefier-turn-websites-into-linux-apps/)
        helped iron out some kinks and now I can launch programming music right from
        my VS code terminal!\\n\\n![vs code and an electron app of musicforprogramming
        made with nativefier](https://dev-to-uploads.s3.amazonaws.com/i/7dh4uokd2pt0zxgeye0n.png)\\n\\n#
        Extra credit\\n\\n```sh\\nalias musicforprogramming=\\\"~/Dev/musicforprogramming-linux-x64/musicforprogramming\\n```\\n\\n\",\"positive_reactions_count\":2,\"cover_image\":null,\"tag_list\":[\"npm\",\"electron\",\"music\",\"app\"],\"canonical_url\":\"https://dev.to/daveparr/nativefire-is-bonkers-4m43\",\"user\":{\"name\":\"Dave
        Parr\",\"username\":\"daveparr\",\"twitter_username\":\"DaveParr\",\"github_username\":\"DaveParr\",\"website_url\":\"https://www.daveparr.info\",\"profile_image\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--v1yPvsiE--/c_fill,f_auto,fl_progressive,h_640,q_auto,w_640/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/150692/22b3fd57-c859-4087-897b-f63d034fa359.jpeg\",\"profile_image_90\":\"https://res.cloudinary.com/practicaldev/image/fetch/s--J8DJ9NrN--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/150692/22b3fd57-c859-4087-897b-f63d034fa359.jpeg\"}},{\"type_of\":\"article\",\"id\":367598,\"title\":\"Investigating
        interactions between dev.to and stackbit\",\"description\":\"Is the description
        also the excerpt?   I was poking around in the dev.to api, and had my sta...\",\"published\":true,\"publi[...]
