http_interactions:
- request:
    method: get
    uri: https://dev.to/api/articles/me/unpublished
    body:
      encoding: ''
      string: ''
    headers:
      api-key: <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f2feb1a5e20a02555c02187d6a1ae8a5"
    body:
      encoding: UTF-8
      file: no
      string: '[{"type_of":"article","id":358171,"title":"New PC","description":"PCPartPicker
        Part List     Type Item Price     CPU Intel Core i5-9600K 3.7 GHz 6-Core Processor
        £183....","published":false,"published_at":null,"slug":"new-pc-1k53-temp-slug-4459844","path":"/daveparr/new-pc-1k53-temp-slug-4459844","url":"https://dev.to/daveparr/new-pc-1k53-temp-slug-4459844","comments_count":0,"public_reactions_count":0,"page_views_count":0,"published_timestamp":"","body_markdown":"[PCPartPicker
        Part List](https://uk.pcpartpicker.com/list/jRWmcq)\n\nType|Item|Price\n:----|:----|:----\n**CPU**
        | [Intel Core i5-9600K 3.7 GHz 6-Core Processor](https://uk.pcpartpicker.com/product/28qhP6/intel-core-i5-9600k-37ghz-6-core-processor-bx80684i59600k)
        | £183.00 @ Amazon UK \n**CPU Cooler** | [ARCTIC Freezer 34 eSports CPU Cooler](https://uk.pcpartpicker.com/product/cqCD4D/arctic-freezer-34-esports-cpu-cooler-acfre00057a)
        | £37.50 @ Amazon UK \n**Mothe[...]
