http_interactions:
- request:
    method: get
    uri: https://dev.to/api/articles/me
    body:
      encoding: ''
      string: ''
    headers:
      api-key: <<<my_api_key>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b8c91bd10c961f1d23556ddf9479c6ed"
    body:
      encoding: UTF-8
      file: no
      string: '[{"type_of":"article","id":347576,"title":"Testing my dev.to API package
        with testthat, webmockr and vcr","description":"I’ve been working on an open
        source R package wrapping the dev.to API. After a bit of prototyping the...","published":true,"published_at":"2020-06-03T11:40:24.185Z","slug":"testing-my-dev-to-api-package-with-testthat-webmockr-and-vcr-2dgm","path":"/daveparr/testing-my-dev-to-api-package-with-testthat-webmockr-and-vcr-2dgm","url":"https://dev.to/daveparr/testing-my-dev-to-api-package-with-testthat-webmockr-and-vcr-2dgm","comments_count":1,"public_reactions_count":5,"page_views_count":0,"published_timestamp":"2020-06-03T11:40:24Z","body_markdown":"I’ve
        been working on an [open source R package wrapping the dev.to\nAPI](https://github.com/DaveParr/dev.to.ol).
        After a bit of prototyping\nthe core feature and then some iterative development
        to make it a bit\nmore useful to a user, it’s starting to settle into something
        that is\nworth testing\\*.\n\n## Testing in R\n\nSometimes people seem a little
        surprised that this is something R users/\nData Scientists even think about,
        but R is a programmi[...]
