http_interactions:
- request:
    method: post
    uri: https://dev.to/api/articles
    body:
      encoding: ''
      string: '{"article":{"title":"test no things","series":{},"published":{},"tags":{},"body_markdown":"##
        R Markdown\n\nThis is an R Markdown document. Markdown is a simple formatting
        syntax\nfor authoring HTML, PDF, and MS Word documents. For more details on\nusing
        R Markdown see <http://rmarkdown.rstudio.com>.\n\nWhen you click the **Knit**
        button a document will be generated that\nincludes both content as well as
        the output of any embedded R code\nchunks within the document. You can embed
        an R code chunk like this:\n\n``` r\nmtcars %>%\n  group_by(cyl) %>%\n  summarise(mean
        = mean(disp), n = n()) %>% \n  knitr::kable()\n```\n\n| cyl |     mean |  n
        |\n| --: | -------: | -: |\n|   4 | 105.1364 | 11 |\n|   6 | 183.3143 |  7
        |\n|   8 | 353.1000 | 14 |\n\n## Including Plots\n\nYou can also embed plots,
        for example:\n\n![](/Users/davidparr/Documents/dev.to.ol/tests/testthat/test_files/figure-gfm/pressure-1.png)<!--
        -->\n\nNote that the `echo = FALSE` parameter was added to the code chunk
        to\nprevent printing of the R code that generated the plot.\n"}}'
    headers:
      Content-Type: application/json
      api-key: <<<my_api_key>>>
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"df82f96208369403ac682202de68a908"
      location: https://dev.to/daveparr/test-no-things-1hpi-temp-slug-5655496
    body:
      encoding: UTF-8
      file: no
      string: '{"type_of":"article","id":346098,"title":"test no things","description":"R
        Markdown   This is an R Markdown document. Markdown is a simple formatting
        syntax for auth...","readable_publish_date":null,"slug":"test-no-things-1hpi-temp-slug-5655496","path":"/daveparr/test-no-things-1hpi-temp-slug-5655496","url":"https://dev.to/daveparr/test-no-things-1hpi-temp-slug-5655496","comments_count":0,"public_reactions_count":0,"collection_id":null,"published_timestamp":"","positive_reactions_count":0,"cover_image":null,"social_image":"https://dev.to/social_previews/article/346098.png","canonical_url":"https://dev.to/daveparr/test-no-things-1hpi-temp-slug-5655496","created_at":"2020-05-29T16:01:38Z","edited_at":null,"crossposted_at":null,"published_at":null,"last_comment_at":"2017-01-01T05:00:00Z","tag_list":"","tags":[],"body_html":"\u003ch2\u003e\n  \u003ca
        name=\"r-markdown\" href=\"#r-markdown\" class=\"anchor\"\u003e\n  \u003c/a\u003e\n  R
        Markdown\n\u003c/h2\u003e\n\n\u003cp\u003eThis is an R Markdown document.
        Markdown is a simple formatting syntax\u003cbr\u003e\nfor authoring HTML,
        PDF, and MS Word documents. For more details on\u003cbr\u003e\nusing R Markdown
        see \u003ca href=\"http://rmarkdown.rstudio.com\"\u003ehttp://rmarkdown.rstudio.com\u003c/a\u003e.\u003c/p\u003e\n\n\u[...]
