http_interactions:
- request:
    method: put
    uri: https://dev.to/api/articles/374200
    body:
      encoding: ''
      string: '{"article":{"title":"test title updated","series":"test","published":false,"tags":["test","test1","test2","updated1"],"body_markdown":"This
        is updated text\n\n## R Markdown\n\nThis is an R Markdown document. Markdown
        is a simple formatting syntax\nfor authoring HTML, PDF, and MS Word documents.
        For more details on\nusing R Markdown see <http://rmarkdown.rstudio.com>.\n\nWhen
        you click the **Knit** button a document will be generated that\nincludes
        both content as well as the output of any embedded R code\nchunks within the
        document. You can embed an R code chunk like this:\n\n```[...]
